<section class="min-vh-100 d-flex bg-neumo align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 justify-content-center">
                <div class="card neumo bg-neumo shadow-soft border-light p-4">
                    <div class="card-header text-center pb-0">
                        <h2 class="h5 mb-0"><%= t('.sign_up') %></h2>
                    </div>
                    <div class="card-body">
                        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                        <%= bootstrap_devise_error_messages! %>
                            <div class="form-group">
                                <%= f.label :email, class: 'emailIcon' %>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <span class="fas fa-envelope"></span>
                                      </span>
                                    </div>
                                    <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', id: 'emailIcon', placeholder: 'example@gmail.com' %>
                                </div>
                            </div>

                            <div class="form-group">
                                <%= f.label :password, class: 'passIcon1' %>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <span class="fas fa-unlock-alt"></span>
                                      </span>
                                    </div>
                                    <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control', id: 'passIcon1', placeholder: 'Password' %>
                                </div>
                                <% if @minimum_password_length %>
                                  <small class="form-text text-muted mb-3"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></small>
                                <% end %>
                            </div>

                            <div class="form-group">
                                <%= f.label :password_confirmation, class: 'passIcon2' %>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <span class="fas fa-unlock-alt"></span>
                                      </span>
                                    </div>
                                    <%= f.password_field :password_confirmation, autocomplete: 'current-password', class: 'form-control', id: 'passIcon2', placeholder: 'Confirm password' %>
                                </div>
                            </div>
                            <div class="form-check mb-4">
                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
                              <label class="form-check-label" for="defaultCheck6">I agree to the
                                <a href="#">terms and conditions</a>
                              </label>
                            </div>
                            <%= f.submit t('.sign_up'), class: 'btn btn-block btn-neumo text-violet' %>

                            <div class="d-block d-sm-flex justify-content-center align-items-center mt-4">
                              <span class="font-weight-normal">Already have an account?
                              <%= link_to "Login here", new_user_registration_path, class: 'font-weight-bold' %>
                              </span>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%= render 'devise/shared/links' %>

