<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags reverse: true %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <%= link_to "malon", root_path, class: 'navbar-brand' %>
          <%# <a class="navbar-brand" href="#">Malon</a> %>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <% if user_signed_in? %>
              <li class="nav-item active">
                <%= link_to 'アカウント編集', edit_user_registration_path, class: 'nav-link' %>
              </li>
              <li class="nav-item active">
                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %>
              </li>
            <% else %>
              <li class="nav-item active">
                <%= link_to "新規登録", new_user_registration_path, class: 'nav-link' %>
              </li>
              <li class="nav-item active">
                <%= link_to "ログイン", new_user_session_path, class: 'nav-link' %>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
    <%= yield %>
    </main>
  </body>
</html>
